---
layout: page
title: Categories
nav: false
---

{% assign rawtags = "" %}
{% for post in site.pages %}
{% assign ttags = post.category | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}


{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
<ul>
    {% for post in site.pages %}
    {% if post.category contains tag %}
    <li>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
